{% extends 'partials/base.html'%} {% load static %} {% block content %}

<!-- Login page content -->
<div class="container">
  <div class="login-card card mt-5 ml-auto mr-auto">
    <div class="card-body">
      <h4 class="create-account text-center">Create Account</h4>
      <form method="POST" action="{{request.get_full_path}}">
        {% for message in messages %}
        <div class="alert alert-success">
          <a href="#" class="alert-link">{{ message }}</a>.
        </div>
        {% endfor%} {% csrf_token%}

        <div class="form-group">
          <label for="username">Username</label>
          {{ registerform.username}}
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          {{ registerform.email}}
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          {{ registerform.password}}
        </div>
        <div class="form-group">
          <label for="cpassword">Password</label>
          {{registerform.cpassword}}
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">
            <i class="las la-user-plus"></i> Register
          </button>
        </div>
        <a href="{% url 'login' %}">Existing User? Log in</a>

        
      </form>
    </div>
  </div>
</div>

{% endblock %}
