{% extends "partials/base.html" %}
{% block cart %}

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="float-right">(<strong>{{totalitems}}</strong>) items</span>
                        <h5>Items in your cart</h5>
                    </div>
                    {% if usercart%}
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    {% for item in usercart %}
                                <tr>
                                    <td>
                                        <div class="cart-product-imitation">
                                            <img src="{{item.product.img.url}}" class="img-fluid">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                {{item.product.name|capfirst}}
                                            </a>
                                        </h3> 
                                        <dl class="small m-b-none">
                                            <dt>Flavour : {{item.product.flavour|capfirst}} </dt>
                                            <dt>Weight : {{item.upgrade}}</dt>
                                            <dt>Contain : {{item.content|capfirst}}</dt>
                                            <dt>Message on the cake : {{item.message|capfirst}}</dt>
                                        </dl>
                                    </td>
                                    <td>
                                        <i class="las la-rupee-sign">{{item.product.price}}</i> 
                                    </td>
                                    <td>
                                        <a href = "{%url 'removefromcartpage' product_id=item.product.id%}"><i class="las la-times"></i></a>
                                    </td>
                                </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="ibox-content">
                        <a href="{% url 'homepage' %}"><button class="btn btn-white"><i class="las la-arrow-left"> Continue shopping</i></button></a>                
                    </div>
                    {% else %}
                    
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive text-center mt-4 ibox-content">
                        <h3 class="text-danger text-center">No product is available in cart</h3>
                        <a href="{% url 'homepage' %}" class="btn btn-sm btn-info mx-auto">KEEP BROWSING</a>
                    </div>
                    {% endif %}
                </div>   
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            <i class="las la-rupee-sign">{{totalprice}}</i>
                        </h2>
                        <hr>
                        
                        <div class="m-t-sm">
                            <div class="btn-group">
                            <a href="{%url 'placeorder'%}" class="btn btn-primary btn-sm"><i class="las la-shopping-bag">Place Order</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Contact Us</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h5><i class="las la-phone"></i> +43 100 783 001</h5>
                        <span class="small">
                            Please contact with us if you have any questions. We are avalible 24h.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock cart%}
{% block scripts%}
<script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
</script>
{% endblock scripts%}