{% extends "partials/base.html" %}
{% block cart %}
{% load mathfilters %}

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="float-right">(<strong>{{totalitems}}</strong>) items</span>
                        <h5>Items in your cart</h5>
                    </div>
                    {% if usercart%}
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    {% for item in usercart %}
                                <tr> 
                                    <td class="col-lg-2">
                                        <div class="cart-product-imitation">
                                            <img src="{{item.product.img.url}}" class="img-fluid w-100 h-100 mt-3">
                                        </div>
                                    </td>
                                    <td class="col-lg-6 desc">
                                        <h3 class="mt-3">
                                            <a href="{% url 'detailpage' id=item.product.id %}" class="text-navy text-truncate  inline-block">
                                                {{item.product.name|capfirst}}
                                            </a>
                                        </h3> 
                                        <dl class="small m-b-none">
                                            <dt>Flavour : {{item.product.flavour|capfirst}} </dt>
                                            <dt>Weight : {{item.upgrade}}</dt>
                                            <dt>Contain : {{item.content|capfirst}}</dt>
                                            <dt>Message on the cake : {{item.message|capfirst}}</dt>
                                        </dl>
                                    </td>
                                    <td class="col-lg-3 d-flex">
                                        
                                        <a class="btn btnquan btn-qty-minus" price="{{item.product.price}}" product="{{item.product.id}}" ><i class="las la-minus"></i></a>
                                        <input class="text-center item-qty" type="number" value="{{item.quantity}}"  style="width:20px; border:none;">
                                        <a class="btn btnquan btn-qty-plus" price="{{item.product.price}}" product="{{item.product.id}}" ><i class="las la-plus"></i></a>
                                    </td>
                                    <td class="col-lg-2">
                                        {% if item.p_qty == 1 %}
                                        <i class="las la-rupee-sign">{{item.price}}</i> 
                                        {% else %}
                                        <i class="las la-rupee-sign">{{item.p_qty}}</i> 
                                        {% endif %}
                                    </td>
                                    <td class="col-lg">
                                        <a href = "{%url 'removefromcartpage' product_id=item.product.id%}"><i class="las la-times"></i></a>
                                    </td>
                                </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="ibox-content">
                        <a href="{% url 'homepage' %}"><button class="btn btn-white"><i class="las la-arrow-left"> Continue shopping</i></button></a>                
                    </div>
                    {% else %}
                    
                    <div class="ibox-content text-center">
                        <h3 class="text-danger text-center">No product is available in cart</h3>
                        <a href="{% url 'homepage' %}" class="btn btn-sm btn-info mx-auto">KEEP BROWSING</a>
                    </div>
                    {% endif %}
                </div>   
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            <i class="las la-rupee-sign">{{totalprice}}</i>
                        </h2>
                        <hr>
                        
                        <div class="m-t-sm">
                            <div class="btn-group">
                            <a href="{%url 'placeorder'%}" class="btn btn-primary btn-sm"><i class="las la-shopping-bag">Place Order</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Contact Us</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h5><i class="las la-phone"></i> +43 100 783 001</h5>
                        <span class="small">
                            Please contact with us if you have any questions. We are avalible 24h.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock cart%}
{% block scripts%}
<script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    
    $(".btn-qty-minus").click(function (){
        var product = $(this).attr('product');
        let qty = Number($(this).parent().find("input").val());
        var price= $(this).attr('price');
        qty = qty-1;
        if(qty<1) qty = 1;
        $(this).parent().find("input").val(qty);
        price = price*qty
        $.ajax(
            {
                type: "POST",
                url: "{%url 'quantity' %}",
                data:{qty:qty,product:product,price:price},
                success: function(data) {
                    console.log("success")
                    console.log(price)
                    location.reload(true);
                }
            
            }
        )
        

    });
    
    $(".btn-qty-plus").click(function (){
        var product = $(this).attr('product');
        let qty = Number($(this).parent().find("input").val());
        var price= $(this).attr('price');
        qty = qty+1;
        if(qty>4) qty = 4;
        $(this).parent().find("input").val(qty);
        price = price*qty
        $.ajax(
            {
                type: "POST",
                url: "{%url 'quantity' %}",
                data:{qty:qty,product:product,price:price},
                success: function(data) {
                    console.log("success")
                    console.log(price)
                    location.reload(true);
                }
            
            }
        )
        
        
    });
    
</script>
{% endblock scripts%}