{% extends 'partials/base.html'%}
{% load static %}
{% block viewmore %}
        <!-- Homepage content -->
  
  <div class="container  mt-4 ">
    <div class="row">
        {% for product in prod %}
      <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="card h-100">
          <a class="card-link" href="{% url 'detailpage' id=product.id %}">
            <div class="home-cake-card card h-100">
                <img src="{{product.img.url}}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold ">{{product.name}}</h5> 
                  <h4 class="font-weight-bold" ><i class="las la-rupee-sign detailrupee"></i>{{product.price}}</h4>             
                </div></a>
            </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
