body {
    font-family: "Quicksand", sans-serif;
    background-color: #FFE5EC;
}

a:hover {
    color: #000000;
}

#search-button:hover {
    background-color: #FF8FAB;
    color: #000000;
}

.site-navbar {
    box-shadow: 0px 5px 29px -7px rgba(0, 0, 0, 0.15);
    background-color: #FFE5EC;
}


.searchbar {
    margin: 0.3em 2em
}

.divider {
    box-shadow: 4px 7px 16px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 7px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 7px 16px -5px rgba(0, 0, 0, 0.75);
}

.main {
    margin-top: 100px;
}

.searchbar input {
    width: 250px;
}

.fixed {
    position: fixed;
    overflow: auto;

}

.site-navbar .navbar-brand img {
    width: 135px;
}

.site-navbar .nav-link {
    font-weight: 700;
    font-size: 14px;
}

.la-search {
    color: #080808;
}

.nav-link {
    color: #000000;
    text-decoration: none;
}

table a:hover {
    color: #000000;
}

.dropdown-link {
    font-size: 13px;
}

.site-navbar table a:hover {
    color: #000000;
}

.nowrap {
    white-space: nowrap;
}

.site-navbar .nav-link i {
    font-size: 26px;
    color: #f2789f;
    position: relative;
    top: 2px;
}

.guest-view .dropdown:hover .dropdown-menu {
    display: block;
    text-decoration: none !important;
    color: #f2789f;
}

.user-view .dropdown:hover .dropdown-menu {
    display: block;
    text-decoration: none !important;
    color: #f2789f;
}

.btn-primary {
    background-color: #FF8FAB;
    border: none;
}

.home-cake-card img {
    height: 210px;
    object-fit: cover;
}

.card-title {
    font-size: 17px;
}

.login-card {
    width: 300px;
    box-shadow: 0px 5px 29px -7px rgba(0, 0, 0, 0.15);
}

.card-link {
    color: #000000;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.detailrupee {
    font-size: 16px;
}

.image_upgrade {
    display: block;
    max-width: 100%;
    height: auto;
}

.choice input[type="radio"]:checked+label:before {
    background-color: #93e026;
}

.choice input[type="radio"]+label:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    margin-right: 3px;
    background-clip: content-box;
    border: 2px solid #bbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

.choice input[type="radio"] {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.detailprice {
    font-size: 10px;
}

figure {
    font-size: 14px;
}

.la-times {
    font-size: 23px;
}

.one {
    display: none;
}

.upgradetable input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.upgradetable img {
    cursor: pointer;
}

.upgradetable [type=radio]:checked+img {
    outline: 2px solid rgb(0, 0, 0);
}

.detail-image {
    height: 500px;
    object-fit: cover;
}

.btn-custom {
    font-size: 10px;
    padding: 0.25rem 0.5rem;
}

.sticky-image-container {
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
    right: 10px;
    float: right;
}

.divider {}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: disc !important;
    padding-left: 1em !important;
    margin-left: 1em;
}

.left {
    width: 50%;
}

.payment {
    border: 1px solid #f2f2f2;
    height: 280px;
    border-radius: 20px;
    background: #fff;
}

.payment_header {
    background: #f2789f;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;

}

.check {
    margin: 0px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.check i {
    vertical-align: middle;
    line-height: 50px;
    font-size: 41px;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 25px;
    padding-top: 25px;
}

.content a {
    width: 200px;
    height: 35px;
    color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    background: #f2789f;
    transition: all ease-in-out 0.3s;
}

.content a:hover {
    text-decoration: none;
    background: #000;
}


.text-navy {
    color: #f2789f;
    font-size: 20px;
}

.text-navy:hover {
    text-decoration: none;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: #111111;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.cart-product-imitation img {
    text-align: center;
    height: 80px;
    width: 80px;
    background-color: #f8f8f9;
}

.la-times {
    color: #000;
}



.product-imitation.xl {
    padding: 120px 0;
}

.product-desc {
    padding: 20px;
    position: relative;
}

.ecommerce .tag-list {
    padding: 0;
}

.ecommerce .fa-star {
    color: #d1dade;
}

.ecommerce .fa-star.active {
    color: #f8ac59;
}

.ecommerce .note-editor {
    border: 1px solid #e7eaec;
}

table.shoping-cart-table {
    margin-bottom: 0;
}

table.shoping-cart-table tr td {
    border: none;
    text-align: right;
}

table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
    text-align: left;
}

table.shoping-cart-table tr td:last-child {
    width: 80px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.footer {
    background-color: #393b44;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.heart {
    color: #f5f2f2;
    margin-left: 200px;
    font-size: 30px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 0px;
    text-align: center;
}

.heart-active {
    color: #C50707;
}

.heart:hover {
    color: red;
    background-color: #f9f9f9;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease-in-out;
}

.addedtowishlist {
    color: red;
}

.media-body .media-title a {
    color: #f2789f !important;
    text-decoration: none;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: yellow;
}