{% extends 'adminbase.html'%} {% load static %} 

{%block content%}
<div class="content-wrapper mt-4 pt-4">

  <section class="vh-100" style="background-color: #e22794;">
      <form id="image-upload-form" method="post" enctype="multipart/form-data">
      <div class="container h-100">
        
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-9">
            <h1 class="text-white mb-4">Add Categorys</h1>
            {% for message in messages %}
            <div class="alert alert-success">
              <a href="#" class="alert-link">{{ message }}</a>.
            </div>
            {% endfor%}
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
                  <div class="row align-items-center pt-4 pb-3">
                      <div class="col-md-3 ps-5 cat-name">
                          <h6 class="mb-0">Category Name</h6>
                      </div>
                      <div class="col-md-9 pe-5">
                          <input type="text" name="name" class="form-control form-control-lg cat-name" />
                      </div>
                  </div>
                  <hr class="mx-n3">
                  <div class="row align-items-center py-3">
                      <div class="col-md-3 ps-5 cat-img">
                          <h6 class="mb-0">Category Image</h6>
                      </div>
                      <div class="col-md-9 pe-5">
                          <input class="form-control form-control-lg cat-name" name="img" type="file" />
                          <div class="small text-muted mt-2">Upload Image</div>
                      </div>
                  </div>
                  <hr class="mx-n3">
              </div>
              <div class="px-5 py-4">
                  <button type="button" class="btn btn-primary btn-lg addcat">Save and add another</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
{%endblock%}
{% block scripts %}
<script>
  $(document).on('click','.addcat',function(e){
    var formData = new FormData($("#image-upload-form")[0]);
    $.ajax({
        type:'POST',
        url: "{%url 'addingcategory' %}",
        data:formData,
        cache:false,
        contentType: false,
        processData: false,
        success:function(data){
            console.log("success");
            location.reload(true)
        },
        error: function(data){
            console.log("error");
            console.log(data);
        }
    });
  });
</script>
{% endblock %}