{% extends 'adminbase.html'%} {% load static %} 
{%block addproducts%}

<section class="h-100" style="background-color: #000000;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <h1 class="text-white mb-4">Add Products</h1>
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Products Name</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" id="name" class="form-control form-control-lg" />
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Product Image</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input class="form-control form-control-lg" id="image" type="file" />
                <div class="small text-muted mt-2">Upload Image</div>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Choose Category</h6>
              </div>
              <div class="input-prepend input-append">
                <div class="btn-group">
                  <select id="category" title="">
                    <option value=""></option>
                    {% for cat in category %}
                    <option value="{{cat.name}}">{{cat.name}}</option>
                    {% endfor %}
                    
                  </select>
                </div>
            </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Price</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="number" id="price" class="form-control form-control-lg" />
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Flavour</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" id="flavour"class="form-control form-control-lg" />
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Shape</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" id="shape" class="form-control form-control-lg" />
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Size</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="number" id="size" class="form-control form-control-lg" />
              </div>
            </div>
            <hr class="mx-n3">
            </div>
            <div class="px-5 py-4">
              <button type="submit"  class="btn btn-primary btn-lg addprod">Proceed</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}

{% block scripts %}
<script>
  $(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  });
  
  

  $(document).on('click','.addprod',function(e){
    e.preventDefault();
    var name = $('#name').val();
    var img = $('#image').val();
    var category =$('#category').val();
    var price = $('#price').val();
    var flavour = $('#flavour').val();
    var shape = $('#shape').val();
    var size = $('#size').val();

    $.ajax(
    {
        type: "POST",
        url: "{%url 'addingproduct' %}",
        dataType: 'json',
        data: {name:name,img:img,category:category,price:price,flavour:flavour,shape:shape,size:size},
        success: function(data) {
          location.reload(true)
        },
        error: function() { 
         alert("error") 
        }
    });
  });
</script>
{% endblock %}