{% extends 'adminbase.html'%} {% load static %} 

{% block content %}
<!-- HTML code -->
<div class="content-wrapper mt-4 pt-4">
  <table class="table container table-striped">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Order Id</th>
        <th>Product Name</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for review in userreview %}
        <tr>
            <td>{{review.customer}}</td>
            <td>{{review.order.id}}</td>
            <td>{{review.order.product_name.name}}</td>
            <td>{{review.Rating}}</td>
            <td>{{review.Review}}</td>
            <td class="w-25">   
				<img src="{{review.img.url}}" class="img-fluid img-thumbnail" alt="">
			</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  
{% endblock %}