{% extends 'adminbase.html'%} {% load static %}

{%block content%}
<div class="content-wrapper mt-4 pt-4">
  <section class="h-100" style="background-color: #000000;">
    <form id="image-upload-form" method="post" enctype="multipart/form-data">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-9">
            <h1 class="text-white mb-4">Edit Products</h1>
            {% for message in messages %}
            <div class="alert alert-success">
              <a href="#" class="alert-link">{{ message }}</a>.
            </div>
            {% endfor%}
            {% for item in product %}
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Products Name</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input type="text" name="name" value="{{item.name}}"class="form-control form-control-lg" />
                  </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5 cat-img">
                      <h6 class="mb-0">Product Image</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <img src="{{item.img.url}}" class="img-fluid img-thumbnail w-25" alt="choosen image">
                    <figcaption>Choosen image</figcaption>
                      <input class="form-control form-control-lg" name="img" type="file"/>
                      <div class="small text-muted mt-2"></div>
                  </div>
              </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Choose Category</h6>
                  </div>
                  <div class="input-prepend input-append">
                    <div class="btn-group">
                      <select name="category" title="">
                        {% for cat in category %}
                        <option value="{{cat.id}}" {% if cat.id == item.category_id %}selected{% endif %}>{{cat.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Price</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input type="number" value="{{item.price}}" name="price" class="form-control form-control-lg" />
                  </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Flavour</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input type="text" value="{{item.flavour}}" name="flavour"class="form-control form-control-lg" />
                  </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Shape</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input type="text" value="{{item.shape}}" name="shape" class="form-control form-control-lg" />
                  </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Size</h6>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input type="number" value="{{item.size}}" name="size" class="form-control form-control-lg" />
                  </div>
                </div>
                <hr class="mx-n3">
                </div>
                <div class="px-5 py-4">
                  <input type="hidden" name="product_id" value="{{ item.id }}">
                  <button type="button" name= "editsave" class="btn btn-primary btn-lg editprod">Save </button>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
{%endblock%}

{% block scripts %}
<script>

  $(document).on('click','.editprod',function(e){
    var formData = new FormData($("#image-upload-form")[0]);
    $.ajax({
        type:'POST',
        url: "{% url 'savingedit' %}",
        data:formData,
        cache:false,
        contentType: false,
        processData: false,
        success:function(data){
            console.log("success");
            location.reload(true)
        },
        error: function(data){
            console.log("error");
            console.log(data);
        }
    });
  });
</script>
{% endblock %}