{% extends 'adminbase.html'%} {% load static %} 

{% block content %}
<div class="content-wrapper mt-4 pt-4">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Product image</th>
		      <th scope="col">Product Name</th>
		      <th scope="col">Price</th>
		      <th scope="col">Flavour </th>
			  <th scope="col">Category</th>
		      <th scope="col">Shape</th>
			  <th scope="col">Size</th>
		    </tr>
		  </thead>
		  {% for prod in products %}
		  <tbody>
		    <tr>
		      <td class="w-25">   
				<img src="{{prod.img.url}}" class="img-fluid img-thumbnail" alt="">
				</td>
				<td>{{prod.name}}</td>
				<td>{{prod.price}}</td>
				<td>{{prod.flavour}}</td>
				<td>{{prod.category}}</td>
				<td>{{prod.shape}}</td>
				<td>{{prod.size}}</td>
				<td>
					<a href="{% url 'removeproduct' id=prod.id %}"><button class="btn btn-danger">Remove</button></a>                
				</td>
				<td>
					<a href="{% url 'editproduct' id=prod.id %}"><button class="btn btn-primary">Edit</button></a>  
				</td>
		    </tr>
		  </tbody>
		  {% endfor %}
		</table>   
    </div>
  </div>
</div>
{% endblock %}